*{margin:0;
padding:0;
}

header
{background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(IMAGE/download.png);
height: 200vh;
background-size: cover;
background-position: center;
}

ul{
float: right;
list-style-type: none;
margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a
{text-decoration: none;
color: blanchedalmond;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;}

ul li a:hover{
    background-color: beige;
    color: #000;}

ul li .active a{
    background-color: #fff;
    color: #000;
}

.LOGO img{
    float: left;
    width: 90px;
    height: auto;}

.main {
    max-width: 1200px;
    margin:auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #ffffff;
    color: #000;
}

.about{
    height: 100vh;
    width: 100%;  
}

.about img{
    height: 60%;
    width: 400px;
    float: left;
    margin-top: 130px;
    margin-left: 70px;
}

.about-text{
    float: right;
    margin-right: 200px;
    padding-right: 160px;
    margin-top: 110px;
    text-align: justify;
}


.about-text h1{
    color: rgb(165, 154, 133);
    font-size: 80px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    text-align: justify;
}

.school{
    padding: 100px;
}

.school h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 40px;
    padding-bottom: 30px;
}

.school img{
    width: 110px;
    height: 100px;
    padding-bottom: 10px;
}

.school p{
    color:rgb(184, 180, 172);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

ol.a{
    list-style-type: square;
    
}
ol.a li{
    padding-bottom: 3%;
    margin-right: 300px;
}
ol.b{
    list-style-type: square;
   
}
ol.b li{
    padding-bottom: 3%;
    margin-right: 300px;
}
ol.c{
    list-style-type: square;
   
}
ol.c li{
    padding-bottom: 3%;
    margin-right: 300px;
}
ol.d{
    list-style-type: square;
}

ol.d li{
    padding-bottom: 3%;
    margin-right: 300px;
}

.work{
    padding-top: 150px;
    padding-left: 180px;

}

.place h1{
    font-style: normal;
    font-size: 40px;
    line-height: 15px;
    padding-bottom: 30px;
}

.place ol li{
    list-style: circle;
    font-size: 30px;
    padding: 20px;
}

.wrapper{
    display: inline-flex;
    position: relative;
    list-style: none;
    top: 50px;
    left: 50px;
    margin-inline: 500px;
    justify-content: center;
    margin-top: 80px;

}

.wrapper .icon{
    position: relative;
    background: #ffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68,-0.55, 0.265,1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #000;
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68,-0.55, 0.265,1.55);
}

.wrapper .tooltip ::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68,-0.55, 0.265,1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}

.wrapper .gmail:hover,
.wrapper .gmail:hover.tooltip,
.wrapper .gmail:hover.tooltip::before{
    background: red;
    color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover.tooltip,
.wrapper .facebook:hover.tooltip::before{
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover.tooltip,
.wrapper .twitter:hover.tooltip::before{
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover.tooltip,
.wrapper .instagram:hover.tooltip::before{
    background: #e4405f;
    color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover.tooltip,
.wrapper .linkedin:hover.tooltip::before{
    background: #0A66C2;
    color: #fff;
}